body {
  background: var(--bodyBackgroundColor);
  font-family: "Lato";
}

.contactForm {
  display: flex;
  justify-content: center;
}

.container {
  color: #fefefe;
  font-size: 1em;
  margin-top: 1vmin;
}

.container h1 {
  color: black;
  font-family: "Lato";
  font-size: 25px;
}

#italic {
  font-style: italic;
  font-weight: 100;
}

.container input {
  font-family: "Lato";
  width: 16rem;
  padding: 20px 20px;
  border-radius: 6px;
  box-shadow: 0px 5px 5px #7a6c6c;
  border: none;
  font-size: 1em;
  margin-top: 1rem;
}

.container textarea {
  font-family: "Lato";
  width: 16rem;
  padding: 60px 20px;
  border-radius: 6px;
  box-shadow: 0px 5px 5px #7a6c6c;
  border: none;
  display: flex;
  margin-top: 1rem;
  font-size: 1em;
}

.buttonSubmit {
  width: 10em;
  height: 2.5em;
  background: #975ab6;
  box-shadow: 0px 5px 10px #7a6c6c;
  border-radius: 6px;
  border: none;
  color: rgb(245, 241, 241);
  font-size: 1em;
  margin-top: 10%;
  float: right;
  cursor: pointer;
}

.buttonSubmit:hover {
  background: #7a6c6c;
}

.buttonSubmit:active {
  background: #494141;
}

.contactLottie {
  width: 7rem;
  height: 7rem;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }

  .container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    justify-content: center;
  }

  form > div:first-of-type {
    grid-area: 1 / 1 / 2 / 3;
  }
  form > div:nth-of-type(2n) {
    grid-area: 2 / 1 / 3 / 2;
  }
  form > div:nth-of-type(3n) {
    grid-area: 3 / 1 / 4 / 2;
  }
  form > div:nth-of-type(4n) {
    grid-area: 4 / 1 / 5 / 2;
  }
  form > div:nth-of-type(5n) {
    grid-area: 2 / 2 / 4 / 3;
  }
  form > div:nth-of-type(6n) {
    grid-area: 4 / 2 / 5 / 3;
  }
}
