
.title {
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(54, 53, 53);
  width: 70%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.t-bold {
  font-weight: bold;
  font-style: normal;
}

.headerDay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dayCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  border-radius: 0.4rem;
  background-color: #aed768;
}

.dayD {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 400;
}

.nameCity {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0.75rem;
}

.cardStep {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: auto;
  height: auto;
  background-color: #aed768;
  border-radius: 5px;
}

#imgStep {
  width: 90px;
  height: auto;
}

.cardInformations {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.informationsStep {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0, 5rem;
  padding-right: 1rem;
}

.nameStep {
  font-weight: 900;
  margin-top: 0.5rem;
}

.adressStep {
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.descStep {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blocStep {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-right: 0.5rem;
}

#iconStep {
  width: 2rem;
  height: 2rem;
}

.countCo2 {
  font-size: 0.75rem;
  color: #fff;
}

.btn-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 1.5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #aed768;
  font-size: 0.75rem;
  font-weight: 900;
}

.jour {
  margin-bottom: 1rem;
}

@media screen and (min-width: 391px) {
    .cardStep {
        width: 50%;
      margin-left:0;
      margin-right: 0;
    }

  .jour {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .informationsStep {
    padding-left: 1rem;
    padding-right:6rem;
    margin-right:5rem;
  }
}

@media screen and (min-width: 1240px) {
  .informationsStep {
    padding-left: 1rem;
    padding-right:6rem;
    margin-right:10rem;
  }
}
