@import url(http://fonts.googleapis.com/css?family=Roboto);

.content {
  padding: 6vw 4vw;
  color: #000;
}

.h1 {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(54, 53, 53);
  width: 70%;
  margin: auto;
  font-size: 20px;
}

.t-bold {
  font-weight: bold;
  font-style: normal;
}

.card {
  background-color: #aed768;
  padding: 1rem;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title {
  font-weight: bold;
}

.button {
  width: 20%;
  height: 34px;
  left: 32px;
  top: 220px;
  border: none;
  background: #975ab6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.form input {
  max-height: 34px;
  background: #fff9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

.form-sign {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.select {
  padding: 0.4rem;
  font-weight: 400;
  font-size: 16px;
}

.sign {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #b1b1b1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.price {
  margin-left: 0;
  width: 80%;
}

.inline {
  display: flex;
  align-items: center;
}

.space-b {
  justify-content: space-between;
}

.space-a {
  justify-content: space-around;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.mg-left-5 {
  margin-left: 0.5rem;
}

.mg-b-08 {
  margin-bottom: 0.8rem;
}

.mg-b-0-4 {
  margin-bottom: 0.4rem;
}

.mg-b-1-4 {
  margin-bottom: 1.4rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-group > button {
  flex: 40%;
  margin: 1rem;
}

.voyage-eco {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #477100;
  font-style: italic;
}

.generate {
  width: auto;
  height: auto;
  padding: 0.6rem;
  float: right;
  margin-bottom: 2rem;
}

.btn-active {
  border: 1px #fff solid;
  box-shadow: none;
  background-color: #573568;
}
