:root {
  /*Color background for body page*/
  --bodyBackgroundColor: #e8e0e0;

  /*-----------------------------*/
  /*Variables navbar             */
  /*-----------------------------*/
  --navbarBackgroundColor: #202020;
  --navbarOverlayColor: rgba(0, 0, 0, 0.3);
  --navbarCrossButtonColor: #aed768;
  --navbarLinkColor: #d1d1d1;
  --navbarLinkHoverColor: #aed768;
  --navbarButtonColor: #aed768;
  --navbarOuterContainerbackgroundColor: #202020;

  /*-----------------------------*/
  /*Variables footer             */
  /*-----------------------------*/
  --footerBackgroundColor: #202020;
  --footerCopyrigthColor: #ccc;
  --footerBorderTop: 1px solid #ccc;
}
